    .Vecchio {
        object-fit: cover;
        border-radius: 20px;
        width: 70vw;
        height: 35vh; 
    }  
    
    .Pitti {
        object-fit: cover;
        border-radius: 20px;
        width: 70vw;
        height: 35vh; 
    }
    
    .BlocC1 {
        padding: var(--padding);
        display: flex;
        justify-content: center;
    }


    .BlocC3 {
        padding: var(--padding);
        display: flex;
        justify-content: center;
    }

    .formulaire {
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: grey;
        border-radius: 20px;
        height: 48vh;
        width: 70vw;
        margin: auto;
}

    .formulaire input {
        width: 250px;
}

    textarea {
        width: 250px;
        height: 80px;
    }
    
    .Submit {
        margin-top: 10px;
        width: 150px!important;
    }

    input[type=submit] {
        padding:5px 15px; 
        background:#ccc; 
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
    }
    input[type=submit]:hover{
        color: red;
    }

    @media screen and (min-width: 980px) {
      .formulaire {
        border-radius: 20px;
        height: 55vh;
        width: 45vw;
        margin: auto;
      }
      .Vecchio {
        object-fit: cover;
        border-radius: 20px;
        width: 45vw;
        height: 50vh; 
    }  
    .Pitti {
        object-fit: cover;
        border-radius: 20px;
        width: 45vw;
        height: 50vh; 
    }
    }