    .Vecchio {
        object-fit: cover;
        border-radius: 20px;
        width: 70vw;
        height: 35vh; 
    }  
    
    .Pitti {
        object-fit: cover;
        border-radius: 20px;
        width: 70vw;
        height: 35vh; 
    }
    
    .BlocC1 {
        padding: var(--padding);
        display: flex;
        justify-content: center;
    }


    .BlocC3 {
        padding: var(--padding);
        display: flex;
        justify-content: center;
    }

    .formulaire {
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: grey;
        opacity: var(--opacity);
        border-radius: 20px;
        height: 35vh;
        width: 70vw;
        margin: auto;
}

    .formulaire input {
        width: 250px;
}

    textarea {
        width: 250px;
        height: 80px;
    }
    
    .Submit {
        margin-top: 10px;
        width: 150px!important;
    }

    @media screen and (min-width: 980px) {
      .formulaire {
        border-radius: 20px;
        height: 55vh;
        width: 45vw;
        margin: auto;
      }
      .Vecchio {
        object-fit: cover;
        border-radius: 20px;
        width: 45vw;
        height: 50vh; 
    }  
    .Pitti {
        object-fit: cover;
        border-radius: 20px;
        width: 45vw;
        height: 50vh; 
    }
    }