    .Vecchio {
        object-fit: cover;
        border-radius: 20px;
        width: 70vw;
        height: 35vh; 
    }  
    
    .Pitti {
        object-fit: cover;
        border-radius: 20px;
        width: 70vw;
        height: 35vh; 
    }
    
    .BlocC1 {
        padding: var(--padding);
        display: flex;
        justify-content: center;
    }

    .BlocC2 {
        background-color: grey;
        opacity: var(--opacity);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 20px;
        height: 35vh;
        width: 70vw;
        }


    .BlocC3 {
        padding: var(--padding);
        display: flex;
        justify-content: center;
    }

    .formulaire {
        display: flex;
        font-size: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

    .formulaire input {
        width: 250px;
}

    textarea {
        width: 250px;
        height: 80px;
    }
    
    .Submit {
        margin-top: 10px;
        width: 150px!important;
    }