#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    }

    .Duomo {
        border-radius: 20px;
        width: 100vw;
        height: 100vh;
        padding: 2rem;
        opacity: var(--opacity);
    }  
    
    .Fiorentina {
        border-radius: 20px;
        width: 100vw;
        height: 100vh;
        padding: 2rem;
        opacity: var(--opacity);
    }

    .Logo1 {
        padding: 2rem;
        width: 10rem;
        height: 8rem;
    }

    .Logo2 {
        padding: 2rem;
        width: 10rem;
        height: 8rem;
    }