/*Racine*/

:root {
    --font-family: 'Italianno', cursive;
    --opacity: 85%;
    --font-size: 4rem;
    --padding: 2rem;
}

/*Header*/

header {
    font-family: var(--font-family);
}

.TitlePage {
    background-color: #AC60DB;
    font-size: var(--font-size);
    color: #fff;
    text-align: center;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*NavBar*/

.BlocIntro {
    opacity: var(--opacity);
    display: flex;
}

ul.NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 2rem;
    width: 20vw;
    background-color: #4C4AB8
}
ul.NavBar li {float: left;}

ul.NavBar li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.NavBar li a:hover:not(.active) {background-color: rgb(99, 137, 209);}

ul.NavBar li.right {float: right;}

@media screen and (max-width: 600px) {

    ul.NavBar li.right,
    ul.NavBar li {
      float: none;
    }
}

/*Body*/

body {
    font-family: var(--font-family);
}

.BlocHaut {
    padding: var(--padding);
}

.BlocBas {
    padding: var(--padding);
}

.Bloc2 {
    background-color:whitesmoke;
    width: 91vw;
    height: 35vh;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 20px;
    opacity: var(--opacity);
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

.Bloc4 {
    background-color:whitesmoke;
    width: 91vw;
    height: 35vh;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 20px;
    opacity: var(--opacity);
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

/*Footer*/

footer {
    font-family: var(--font-family);
    background-color: #AC60DB;
    opacity: var(--opacity);
}

.BlocConclu {
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.Logo1 {
    padding: var(--padding);
    width: 4rem;
    height: 2rem;
}

.Logo2 {
    width: 4rem;
    height: 2rem;
    padding: var(--padding);
}

.Langages {
    width: 6rem;
    height: 2rem;
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: center;
}

