/*Racine*/

:root {
    --font-family: 'Italianno', cursive;
    --opacity: 85%;
}

/*Header*/

header {
    font-family: var(--font-family);
}

/*NavBar*/

.BlocIntro {
    background-color: #4C4AB8;
    opacity: 80%;
}

ul.NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 2rem;
}
ul.NavBar li {float: left;}

ul.NavBar li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.NavBar li a:hover:not(.active) {background-color: rgb(99, 137, 209);}

ul.NavBar li.right {float: right;}

@media screen and (max-width: 600px) {

    ul.NavBar li.right,
    ul.NavBar li {
        float: none;
    }
}

/*Body*/

body {
    font-family: var(--font-family);
}

/*Footer*/

footer {
    font-family: var(--font-family);
    background-color: #806DCC;
    opacity: var(--opacity);
}

.BlocConclu {
    display:inline-flex;
    justify-content: space-between;
}