/*Video*/
#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    }

    .Night {
        border-radius: 20px;
        width: 90vw;
        height: 75vh;
        opacity: var(--opacity);
    }   

    .Carnaval {
        border-radius: 20px;
        width: 90vw;
        height: 75vh;
        opacity: var(--opacity);
    } 

    .JustTitle {
        inline-size: 280px;
        overflow-wrap: break-word;
        line-height: 47px;
    }
