    .Campo {
        object-fit: cover;
        border-radius: 20px;
        width: 70vw;
        height: 35vh;
    }  
    
    .Panzanella {
        object-fit: cover;
        border-radius: 20px;
        width: 70vw;
        height: 35vh;  
    }
